/*
"Ronce" - red color scheme for the One Mozilla theme

@@Colors -
Light Gray    #f9f9f9
Link          #2983c8
Hover         #20679e
*/

html {
  background: #edeeed !important;
}

#page {
  background-color: #edeeed !important;
  background-image: url("../img/bg_red_col.png") !important;
}

#masthead {
  background-position: 5px center;
  background-size: 180px auto;

 }
#masthead hgroup {
  margin-left: 160px;
}

#site-description {
  color: #777;
}

/* @Links */
a:link,
a:visited {
  color: #2983c8;
}
a:hover,
a:focus,
a:active {
  color: #20679e;
}
.entry-content a:hover img,
.entry-content a:focus img,
.entry-content a:active img {
  background-color: #20679e;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
  color: #20679e;
}

::-moz-selection {
  background: #666;
  color: #fff;
}
::selection {
  background: #666;
  color: #fff;
}

.entry-comments a {
  background-image: url("../img/icn-comment.png") !important;
}